
@font-face {
	 font-family:'Droid Arabic Kufi';
	 font-style:normal;
	 font-weight:400;
	 src:url(DroidKufi-Regular.eot);
	 src:url(DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Regular.woff2) format('woff2'), url(../fonts/DroidKufi-Regular.woff) format('woff'), url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
	 font-family:'Droid Arabic Kufi';
	 font-style:normal;
	 font-weight:700;
	 src:url(DroidKufi-Bold.eot);
	 src:url(DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Bold.woff2) format('woff2'), url(../fonts/DroidKufi-Bold.woff) format('woff'), url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
	 font-family:'FontAwesome';
	 src:url('fontawesome-webfont.eot?v=4.3.0');
	 src:url('fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	 font-weight:normal;
	 font-style:normal;
}

.cke_iframe {
	font-family: "Droid Arabic Kufi","tahoma",sans-serif;
	font-size: 12px;
	font-weight: normal;
}

#text {
	font-family: "Droid Arabic Kufi","tahoma",sans-serif;
	font-size: 12px;
	font-weight: normal;
}
